.friendMessage {
   position: relative;
    display: flex;
    margin-bottom: 73px;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    width: 575px;
    margin-left: 70px;
    margin-top: 108px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    position: relative;
    background-color: #F5F7FB;
    /*box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);*/
    width: 527px;
    color: black;
    min-height: 60px;
    border-radius: 8px;
    padding: 8px 8px 7px 8px;
    margin-left: 10px;
    z-index: 1;
}

.friendText:after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-bottom: 20px solid #F5F7FB;
    left: -10px;
    bottom: 0;
    z-index: -1;
}

.friendName {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-align: right;
}

.friendMessageText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-align: center;
}

.friendTime {
    position: absolute;
    top: 166px;
    left: 77px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    margin-top: 5px;
}
